ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

my-login {
  padding: 10px 12px;
  float :right;
  background-color: #4CAF50;
  visibility: hidden;
  z-index: 10;
  position: absolute;
  right: 32px;
  margin-left: 32px;

}

#mypage {
  background-color: #235ebc;
}
